.advantages {
  width: 100%;
  margin: 0;

  text-align: center;
  text-transform: uppercase;
}

.advantages__name {
  margin: 0 0 35px 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.advantages__intro {
  margin: 0;

  font-size: 14px;
  line-height: 21px;
}

.advantages__card {
  width: 100%;

  @media (min-width: $tablet-width) {
    display: grid;

    grid-template-columns: 1fr 2fr;
  }
}

.advantages__card--second {
  @media (min-width: $tablet-width) {
    display: grid;

    grid-template-columns: 2fr 1fr;
  }

  @media (min-width: $tablet-width) {
    .advantages__card-content {
      order: 2;
    }
  }
}

.advantages__card-content {
  margin: 0;
  padding: 59px 18px 35px 18px;

  color: $color-white;

  background-color: $color-seagull;

  &--clip {
    clip-path: polygon(51% 13%, 100% 5%, 100% 99%, 0 99%, 0 5%);

    @media (min-width: $tablet-width) {
      padding: 52px 33px 31px 33px;
    }

    @media (min-width: $desktop-width) {
      padding: 52px 60px 51px 60px;
    }
  }

  @media (min-width: $tablet-width) {
    clip-path: none;
  }

  &--second {
    padding: 37px 18px;

    @media (min-width: $tablet-width) {
      padding: 52px 33px 17px 33px;
    }

    @media (min-width: $desktop-width) {
      padding: 52px 50px 51px 50px;
    }
  }
}

.advantages__card-title {
  margin: 0 0 11px 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 75px 11px 75px;
  }

  &--clip {
    @media (min-width: $desktop-width) {
      margin: 0 60px 11px 60px;
    }
  }
}

.advantages__number {
  margin: 0 0 20px 0;

  font-size: 14px;
  line-height: 21px;

  @media (min-width: $tablet-width) {
    margin-bottom: 24px;
  }
}

.advantages__description {
  margin: 0;

  font-size: 14px;
  line-height: 21px;

  &--second {
    @media (min-width: $tablet-width) {
      margin: 0 18px 0 18px;
    }

    @media (min-width: $desktop-width) {
      margin: 0 26px 0 26px;
    }
  }
}

.advantages__image {
  display: block;
  width: 100%;
  height: 260px;

  background-color: $color-seagull;

  object-fit: cover;
}

.advantages__details-list {
  display: grid;
  margin: 0;
  padding: 23px 18px 44px 18px;

  list-style: none;
  color: $color-black;

  background-color: $color-white;

  gap: 26px;

  @media (min-width: $tablet-width) {
    padding: 0;

    gap: 0;
    grid-template-columns: repeat(3, 1fr);
  }
}

.advantages__details-item {
  margin: 0;
  padding: 8px 0 0 47px;

  text-align: left;

  @media (min-width: $tablet-width) {
    padding: 155px 33px 60px 33px;

    text-align: center;
  }

  @media (min-width: $desktop-width) {
    padding: 169px 50px 69px 50px;
  }
}

.advantages__details-item--housing {
  background-image: url("../img/icons/house.svg");
  background-repeat: no-repeat;
  background-size: 39px 37px;

  @media (min-width: $tablet-width) {
    background-position: 50% 60px;
    background-size: 77px 72px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 165px;

    background-size: 78px 73px;
  }
}

.advantages__details-item--food {
  background-image: url("../img/icons/burger.svg");
  background-repeat: no-repeat;
  background-size: 40px 35px;

  @media (min-width: $tablet-width) {
    padding-top: 150px;

    background-position: 50% 62px;
    background-size: 80px 68px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 162px;

    background-position: 50% 70px;
    background-size: 73px 69px;
  }
}

.advantages__details-item--presents {
  background-image: url("../img/icons/gift.svg");
  background-repeat: no-repeat;
  background-size: 32px 38px;

  @media (min-width: $tablet-width) {
    padding-top: 150px;

    background-position: 50% 62px;
    background-size: 67px 75px;
  }

  @media (min-width: $desktop-width) {
    padding: 165px 70px 69px 70px;

    background-position: 50% 69px;
    background-size: 77px 75px;
  }
}

.advantages__details-title {
  margin: 0 0 16px 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
  }

  &--housing {
    @media (min-width: $tablet-width) {
      margin-bottom: 20px;
    }
  }

  &--food {
    margin-bottom: 18px;

    @media (min-width: $tablet-width) {
      margin-bottom: 24px;
    }
  }

  &--presents {
    margin-bottom: 14px;

    @media (min-width: $tablet-width) {
      margin-bottom: 22px;
    }
  }
}

.advantages__details-description {
  margin: 0;

  font-size: 14px;
  line-height: 21px;
}

.advantages__list {
  display: grid;
  margin: 0;
  padding: 24px 26px 0 26px;

  list-style: none;
  color: $color-black;

  background-color: $color-whisper;

  @media (min-width: $tablet-width) {
    padding: 0;

    grid-template-columns: repeat(3, 1fr);
  }
}

.advantages__item {
  position: relative;

  padding: 52px 33px;

  &::after:not(:last-of-type) {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 1px;

    background-color: $color-dark-whisper;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 52px 33px;
  }

  @media (min-width: $desktop-width) {
    padding: 63px 50px 41px 50px;
  }
}

.advantages__item--center {
  @media (min-width: $tablet-width) {
    padding: 41px 33px;
  }

  @media (min-width: $desktop-width) {
    padding: 52px 50px 51px 50px;
  }
}

.advantages__list .advantages__item:not(:last-child) {
  border-bottom: 1px solid $color-light-grey;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.advantages__heading {
  margin: 0 0 11px 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    margin: 0 20px 11px 20px;

    font-size: 21px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 80px 11px 80px;
  }
}
