.advantages {
  width: 100%;
  margin: 0;

  text-align: center;
}

.advantages__header {
  padding: 32px 18px 16px 32px;

  color: $color-black;

  background-color: $color-white;
}

.advantages__name {
  margin: 0 0 35px 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.advantages__intro {
  margin: 0;

  font-size: 14px;
  line-height: 21px;
}

.advantages__card {
  width: 100%;

  @media (min-width: $tablet-width) {
    display: grid;

    grid-template-columns: 256px 512px;
  }

  @media (min-width: $desktop-width) {
    display: grid;

    grid-template-columns: 400px 800px;
  }
}

.advantages__card--second {
  @media (min-width: $tablet-width) {
    display: grid;

    grid-template-columns: 512px 256px;
  }

  @media (min-width: $desktop-width) {
    display: grid;

    grid-template-columns: 800px 400px;
  }

  @media (min-width: $tablet-width) {
    .advantages__card-content {
      order: 2;
    }
  }
}

.advantages__card-content {
  margin: 0;
  padding: 54px 18px 40px 18px;

  color: $color-white;

  background-color: $color-seagull;
}

.advantages__card-title {
  margin: 0 0 11px 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.advantages__number {
  margin-bottom: 17px;

  font-size: 14px;
  line-height: 21px;
}

.advantages__description {
  margin: 0;

  font-size: 14px;
  line-height: 21px;
}

.advantages__details-list {
  margin: 0;
  padding: 34px 18px 45px 18px;

  list-style: none;
  color: $color-black;

  background-color: $color-white;

  @media (min-width: $tablet-width) {
    display: grid;

    grid-template-columns: 256px 256px 256px;
  }

  @media (min-width: $desktop-width) {
    display: grid;

    grid-template-columns: 400px 400px 400px;
  }
}

.advantages__details-item {
  margin: 0;

  @media (min-width: $tablet-width) {
    padding: 60px 33px;
  }

  @media (min-width: $desktop-width) {
    padding: 69px 50px;
  }
}

.advantages__details-title {
  margin: 0 0 16px 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.advantages__details-description {
  margin: 0;

  font-size: 14px;
  line-height: 21px;
}

.advantages__list {
  margin: 0;
  padding: 24px 18px 26px 28px;

  list-style: none;
  color: $color-black;

  background-color: $color-whisper;

  @media (min-width: $tablet-width) {
    display: grid;

    grid-template-columns: 256px 256px 256px;
  }

  @media (min-width: $desktop-width) {
    display: grid;

    grid-template-columns: 400px 400px 400px;
  }
}

.advantages__item {
  padding: 26px 24px;

  @media (min-width: $tablet-width) {
    padding: 52px 33px;
  }

  @media (min-width: $desktop-width) {
    padding: 63px 50px 41px 50px;
  }
}

.advantages__item--center {
  @media (min-width: $tablet-width) {
    padding: 41px 33px;
  }

  @media (min-width: $desktop-width) {
    padding: 52px 50px 51px 50px;
  }
}

.advantages__heading {
  margin: 0 0 11px 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
