.booking {
  padding: 38px 18px 0 18px;
  background-color: $color-white;
  color: $color-black;
  margin-bottom: 10px;
}

.booking__heading {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  margin-bottom: 11px;
  text-align: center;
}

.booking__description {
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  margin-bottom: 32px;
}

.booking__button {
  display: block;
  padding: 16px 49px;
  background-color: $color-seagull;
  color: $color-white;
  text-decoration: none;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  margin-bottom: 49px;
}

.booking__map {
  display: block;
  width: 100%;
}
