.contacts__wrapper {
  padding: 0 20px 24px 20px;

  @media (min-width: $tablet-width) {
    padding: 0 60px 64px 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 120px 64px 120px;
  }
}

.contacts__form {
  position: relative;

  margin: 0 auto;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: grid;

    gap: 0 88px;
    grid-template-columns: 280px 280px;
  }

  @media (min-width: $tablet-width) {
    gap: 0 128px;
    grid-template-columns: 430px 402px;
  }
}

.contacts__form-names,
.contacts__form-details {
  margin: 0;
  padding: 0;
}

.contacts__form--name,
.contacts__form--surname,
.contacts__form--patronymic,
.contacts__form--phone,
.contacts__form--email {
  display: grid;

  grid-template-columns: 1fr;
}

.contacts__form-impression,
.contacts__form-sight,
.contacts__form-emotions {
  @media (min-width: $tablet-width) {
    grid-column-end: 3;
    grid-column-start: 1;
  }
}

.contacts__title {
  margin: 0 0 20px 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0 0 28px 0;
  }
}

.contacts__title-info {
  margin: 0 0 28px 0;
}

.contacts__title-impression {
  @media (min-width: $desktop-width) {
    margin: 0 0 45px 0;
  }
}

.contacts__title-sight {
  @media (min-width: $desktop-width) {
    margin: 0 0 59px 0;
  }
}

.contacts__label {
  position: relative;
  left: 16px;

  margin: 0;

  font-size: 14px;
  line-height: 21px;
}

.contacts__input {
  position: relative;

  margin: 0 0 16px 0;

  background-color: $color-gray95;
  border: none;
}

.contacts__input-name {
  padding: 16px 19px 16px 16px;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $color-black;

  @media (min-width: $tablet-width) {
    padding: 16px 57px 16px 16px;
  }

  @media (min-width: $desktop-width) {
    padding: 16px 152px 16px 16px;
  }

  &:default {
    color: $color-black;

    background-color: $color-gray95;
  }

  &:hover {
    color: $color-black;

    background-color: #e5e5e5;
  }

  &:active {
    color: $color-black;

    background-color: $color-white;
    outline: 4px rgba(229, 229, 229, 1);
  }
}

.contacts__input-phone,
.contacts__input-email {
  display: block;
  padding: 16px 19px 16px 16px;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.3);

  @media (min-width: $tablet-width) {
    padding: 16px 20px 16px 16px;
  }

  @media (min-width: $desktop-width) {
    padding: 16px 20px 16px 16px;
  }

  &:default {
    color: $color-black;

    background-color: $color-gray95;
  }

  &:hover {
    color: $color-black;

    background-color: #e5e5e5;
  }

  &:active {
    color: $color-black;

    background-color: $color-white;
    outline: 4px rgba(229, 229, 229, 1);
  }
}

.contacts__button-phone {
  position: absolute;
  top: 20px;
  right: 0;

  width: 58px;
  height: 58px;

  background-image: url("/source/img/icons/phone.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.contacts__button-email {
  position: absolute;
  top: 20px;
  right: 0;

  width: 58px;
  height: 58px;

  background-image: url("/source/img/icons/mail.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.contacts__impressions-list {
  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;

    gap: 16px;
    grid-template-columns: 280px 280px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    padding: 0;

    grid-template-columns: 280px 280px 280px;
  }
}

.contacts__impressions-item {
  margin-bottom: 16px;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: none;

  @media (min-width: $tablet-width) {
    margin: 0;

    &:last-of-type {
      margin-bottom: 46px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 73px;
  }
}

.contacts__control {
  position: relative;

  display: inline-block;
  margin-bottom: 16px;
}

.contacts__control-label {
  padding-left: 62px;
}

.contacts__control-radio {
  position: absolute;
  top: -10px;
  left: 0;

  width: 46px;
  height: 46px;
  margin: 0;

  background-color: $color-gray95;
  border: none;
  border-radius: 50%;

  &:hover {
    background-color: #e5e5e5;
  }

  &:active {
    background-color: #d5d5d5;
  }

  &:checked::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    width: 16px;
    height: 16px;

    background-color: $color-black;
    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  &:checked:hover::before {
    background-color: #333333;
  }

  &:checked:active::before {
    background-color: rgba(51, 51, 51, 0.3);
  }
}

.contacts__sights-list {
  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;

    gap: 16px 32px;
    grid-template-columns: 224px 224px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;

    gap: 64px;
    grid-template-columns: 184px 184px 184px 184px;
  }
}

.contacts__sights-item {
  margin-bottom: 16px;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: none;

  @media (min-width: $tablet-width) {
    margin: 0;

    &:last-of-type {
      margin-bottom: 42px;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 87px 0;
  }
}

.contacts__control-checkbox {
  position: absolute;
  top: -10px;
  left: 0;

  width: 46px;
  height: 46px;
  margin: 0;

  background-color: $color-gray95;
  border: none;
  border-radius: 4px;

  &:hover {
    background-color: #e5e5e5;
  }

  &:active {
    background-color: #d5d5d5;
  }

  &:checked::before {
    position: absolute;

    width: 22px;
    height: 16px;

    background-color: #f2f2f2;
    background-image: url("/source/img/icons/tick.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  &:checked:hover::before {
    background-color: #333333;
  }

  &:checked:active::before {
    background-color: rgba(51, 51, 51, 0.3);
  }
}

.contacts__title-emotions {
  margin: 0 0 20px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 28px 0;
  }
}

.contacts__emotions-input {
  width: 279px;
  height: 150px;
  min-height: 160px;
  margin: 0 auto;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.3);

  background-color: $color-gray95;

  @media (min-width: $tablet-width) {
    width: 648px;
  }

  @media (min-width: $desktop-width) {
    width: 768px;
  }
}

.contacts__emotions-button {
  display: block;
  margin: 0;
  padding: 16px 49px;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: $color-white;
  text-transform: uppercase;

  background-color: $color-seagull;
  border: none;
}

.contacts__emotions-legend {
  margin-bottom: 24px;

  font-weight: 400;
  font-size: inherit;
  line-height: inherit;
  color: $color-gray;
}
