.contacts__header {
  padding: 35px 18px 53px 18px;

  @media (min-width: $tablet-width) {
    padding: 65px 165px 102px 166px;
  }

  @media (min-width: $desktop-width) {
    padding: 113px 380px 67px 380px;
  }
}

.contacts__wrapper {
  padding: 0 20px 0 20px;

  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding: 0 60px 0 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 120px 0 120px;
  }
}

.contacts__form {
  position: relative;

  margin: 0 auto;
  padding: 0;
}

.contacts__form-container {
  @media (min-width: $tablet-width) {
    position: relative;

    display: flex;
    justify-content: space-between;

    &::before {
      content: "";
      position: absolute;
      left: 50%;

      width: 1px;
      height: 338px;

      background-color: $color-gainsboro;
      transform: translateX(-50%);
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 56px;
  }
}

.contacts__form-block {
  margin: 0 0 49px 0;
  padding: 0;

  border: none;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.contacts__form-names,
.contacts__form-details {
  margin: 0;
  padding: 0;

  border: none;
}

.contacts__form-names {
  margin-bottom: 48px;

  @media (min-width: $tablet-width) {
    width: calc(52% - 43px);
  }

  @media (min-width: $desktop-width) {
    width: calc(52% - 63px);
    margin-bottom: 0;
  }
}

.contacts__form-details {
  margin-bottom: 43px;

  @media (min-width: $tablet-width) {
    width: calc(48% - 26px);
  }

  @media (min-width: $desktop-width) {
    width: calc(48% - 64px);
    margin-bottom: 0;
  }
}

.contacts__form--name,
.contacts__form--surname,
.contacts__form--patronymic {
  display: grid;

  grid-template-columns: 1fr;

  @media (min-width: $desktop-width) {
    grid-template-columns: 430px;
  }
}

.contacts__form--phone,
.contacts__form--email {
  display: grid;

  grid-template-columns: 1fr;

  @media (min-width: $desktop-width) {
    grid-template-columns: 402px;
  }
}

.contacts__form--phone::after,
.contacts__form--email::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 16px;

  width: 58px;
  height: 58px;

  background-color: $color-light-whisper;
  background-repeat: no-repeat;
  background-position: 50%;

  pointer-events: none;
}

.contacts__form--phone-icon::after {
  background-image: url("../img/icons/phone.svg");
}

.contacts__form--email-icon::after {
  background-image: url("../img/icons/mail.svg");
}

.contacts__title {
  margin: 0 0 20px 0;
  padding: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0 0 28px 0;

    font-size: 21px;
  }
}

.contacts__title-name {
  @media (min-width: $desktop-width) {
    margin: 0 0 28px 29px;
  }
}

.contacts__title-info {
  text-align: center;

  @media (min-width: $desktop-width) {
    margin: 0 0 28px 30px;

    text-align: left;
  }
}

.contacts__title-impression {
  @media (min-width: $desktop-width) {
    margin: 0 0 45px 0;
  }
}

.contacts__title-sight {
  @media (min-width: $desktop-width) {
    margin: 0 0 59px 0;
  }
}

.contacts__label {
  position: relative;
  left: 16px;

  align-self: start;
  margin: 0;

  font-size: 14px;
  line-height: 21px;
}

.contacts__input {
  position: relative;

  margin: 0 0 16px 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  font-family: inherit;

  background-color: $color-white-smoke;
  border: none;

  &::placeholder {
    color: rgba(0, 0, 0, 0.3);

    opacity: 1;
  }

  &:default {
    color: $color-black;

    background-color: $color-white-smoke;
  }

  &:hover {
    color: $color-black;

    background-color: $color-dark-whisper;
  }

  &:active,
  &:focus {
    color: $color-black;

    background-color: $color-white;
    border: 4px rgba(229, 229, 229, 1);
    box-shadow: inset 0 0 0 4px $color-dark-whisper;
  }
}

.contacts__input-name {
  padding: 16px 19px 16px 16px;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;

  background-color: $color-white-smoke;

  @media (min-width: $tablet-width) {
    padding: 16px 57px 16px 16px;
  }

  @media (min-width: $desktop-width) {
    padding: 16px 210px 16px 16px;
  }
}

.contacts__input-phone,
.contacts__input-email {
  display: block;
  padding: 16px 19px 16px 16px;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    padding: 16px 10px 16px 16px;
  }

  @media (min-width: $desktop-width) {
    padding: 16px 24px 16px 16px;
  }
}

.contacts__form-impression,
.contacts__form-sight,
.contacts__form-emotions {
  @media (min-width: $tablet-width) {
    border-top: 1px solid $color-gainsboro;
  }
}

.contacts__form-impression {
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    padding: 0 36px 0 36px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 56px;
    padding: 0 53px 0 53px;
  }
}

.contacts__form-sight {
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    margin-bottom: 29px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 72px;
    padding: 0 45px 0 45px;
  }
}

.contacts__form-emotions {
  margin-bottom: 0;
}

.contacts__impressions-list {
  display: grid;
  margin: 0 auto;
  padding: 0;

  list-style: none;

  gap: 0;
  grid-template-columns: 1fr;

  @media (min-width: $tablet-width) {
    max-width: 600px;

    gap: 0 16px;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    max-width: none;

    gap: 0 28px;
    grid-template-columns: repeat(3, 1fr);
  }
}

.contacts__impressions-item {
  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.contacts__title-impression,
.contacts__title-sight,
.contacts__title-emotions {
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 0 30px;

    background-color: $color-white;
  }
}

.contacts__control {
  position: relative;

  display: inline-block;
  min-height: 46px;
  margin-bottom: 16px;
  padding-left: 62px;

  cursor: pointer;
}

.contacts__control-radio {
  position: absolute;
  top: 0;
  left: 0;

  width: 46px;
  height: 46px;

  background-color: $color-white-smoke;
  border: none;
  border-radius: 50%;

  &:active,
  &:focus {
    background-color: $color-dark-grey;
  }

  &:hover {
    background-color: $color-dark-whisper;
  }
}

.contacts__control-input:checked + .contacts__control-radio::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 16px;
  height: 16px;

  background-color: $color-grey;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.contacts__control-input:focus + .contacts__control-radio,
.contacts__control-input:focus + .contacts__control-checkbox {
  outline: 1px solid $color-black;
}

.contacts__control-name {
  display: block;
  padding: 10px 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: none;
}

.contacts__sights-list {
  display: grid;
  margin: 0 auto;
  padding: 0;

  list-style: none;

  gap: 0;
  grid-template-columns: 1fr;

  @media (min-width: $tablet-width) {
    padding: 0 120px 0 84px;

    gap: 0 75px;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    padding: 0;

    gap: 45px;
    grid-template-columns: repeat(4, 1fr);
  }
}

.contacts__sights-item {
  margin: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: none;
}

.contacts__control-checkbox {
  position: absolute;
  top: 0;
  left: 0;

  width: 46px;
  height: 46px;
  margin: 0;

  background-color: $color-white-smoke;
  border: none;
  border-radius: 4px;

  &:hover {
    background-color: $color-dark-whisper;
  }

  &:active {
    background-color: $color-dark-grey;
  }
}

.contacts__control-input:checked + .contacts__control-checkbox {
  background-image: url("../img/icons/tick.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;

  &:checked:hover {
    background-color: $color-grey;
  }

  &:checked:active {
    background-color: rgba(51, 51, 51, 0.3);
  }
}

.contacts__title-emotions {
  margin: 0 0 20px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 28px 0;
  }
}

.contacts__emotions-input {
  display: block;
  width: 100%;
  min-height: 150px;
  margin: 0 auto;
  margin-bottom: 56px;
  padding: 16px;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  font-family: inherit;

  background-color: $color-white-smoke;
  border: none;

  resize: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    max-width: 768px;
    margin-bottom: 58px;
  }

  &::placeholder {
    color: rgba(0, 0, 0, 0.3);
  }

  &:default {
    color: $color-black;

    background-color: $color-white-smoke;
  }

  &:hover {
    color: $color-black;

    background-color: $color-dark-whisper;
  }

  &:active,
  &:focus {
    color: $color-black;

    background-color: $color-white;
    border: 4px rgba(229, 229, 229, 1);
    box-shadow: inset 0 0 0 4px $color-dark-whisper;
  }
}

.contacts__emotions-wrapper {
  margin: 0 20px 25px 20px;

  @media (min-width: $tablet-width) {
    display: grid;
    margin: 0 60px 62px 60px;
    padding: 0;

    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    margin: 0 216px 64px 216px;
  }
}

.contacts__emotions-button {
  margin-bottom: 3px;

  @media (min-width: $tablet-width) {
    align-self: start;
    margin-bottom: 0;
  }
}

.contacts__emotions-legend {
  margin: 0;
  padding: 0 10px;

  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  text-align: right;
  color: rgba(51, 51, 51, 0.6);
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-top: 23px;

    font-size: 14px;
    text-align: right;
    color: $color-grey;
  }
}
