.copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.copyright__link {
  position: relative;
}

.copyright__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: $color-black;

  &:hover {
    color: $color-seagull;
  }

  &:active {
    color: #b3b3b3;
  }
}

.copyright__image {
  position: absolute;
  bottom: -4px;

  width: 27px;
  height: 34px;

  fill: $color-black;

  &:hover {
    fill: $color-seagull;
  }

  &:active {
    fill: #b3b3b3;
  }
}
