.gallery {
  width: 100%;
}

.gallery__main-img {
  margin: 0;
}

.gallery__content {
  margin: 0;
  padding: 0;

  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.gallery__image-main {
  display: block;
  width: 100%;
  max-height: 400px;
  margin: 0 0 15px 0;

  object-fit: cover;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.gallery__content-description {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding: 22px 20px 15px 20px;

    background-color: $color-white-smoke;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 80px;

    color: $color-white;

    background-color: rgba(0, 0, 0, 0.3);
  }
}

.gallery__wrapper {
  margin: 0;
  padding: 0 20px 0 20px;
  @media (min-width: $tablet-width) {
    padding: 0 60px 0 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.gallery__heading {
  margin: 0 0 11px 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
}

.gallery__author {
  margin: 0 0 11px 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: none;
}

.gallery__content-likes {
  display: flex;
  align-items: center;
}

.gallery__likes--icon {
  display: block;
  margin: auto 14px auto 0;
  padding: 0;

  color: $color-black;

  background-color: transparent;
  border: none;

  @media (min-width: $tablet-width) {
    margin-right: 9px;
  }

  @media (min-width: $desktop-width) {
    color: $color-white;
  }
}

.gallery__likes-icon {
  fill: $color-black;
  opacity: 0.3;

  @media (min-width: $desktop-width) {
    fill: $color-white;
  }
}

.gallery__image {
  display: block;
  width: 100%;
  max-height: 400px;
  margin: 0 0 15px 0;

  background-color: $color-grey;

  object-fit: cover;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.gallery__list {
  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;

    gap: 0;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.gallery__item {
  display: flex;
  flex-direction: column;
}
