.gallery {
  width: 100%;
}

.gallery__header {
  margin: 0;
  padding: 37px 20px 25px 20px;

  @media (min-width: $tablet-width) {
    padding: 66px 155px 67px 155px;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 372px 65px 370px;
  }
}

.gallery__title {
  margin: 0 0 35px 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}

.gallery__description {
  margin: 0;

  font-size: 12px;
  line-height: 21px;
  text-align: center;
}

.gallery__content {
  margin: 0;
  padding: 24px 20px 25px 20px;

  @media (min-width: $tablet-width) {
    display: grid;
    justify-content: space-between;
    padding: 0 60px 0 60px;

    grid-template-columns: 144px 64px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    justify-content: space-between;
    padding: 0;

    grid-template-columns: 175px 64px;
  }
}

.gallery__image {
  width: 280px;
  margin: 0 0 15px 0;

  @media (min-width: $tablet-width) {
    width: 648px;
    margin: 0 0 22px 0;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    margin: 0;
  }
}

.gallery__content-description {
  @media (min-width: $tablet-width) {
    display: grid;
    justify-content: space-between;

    background-color: $color-gray95;

    grid-template-columns: max-content 200px max-content 56px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    justify-content: space-between;

    grid-template-columns: max-content 178px max-content 56px;
  }
}

.gallery__heading {
  margin: 0 0 5px 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: $color-black;
}

.gallery__author {
  margin: 0;
  margin-bottom: 11px;

  font-size: inherit;
  line-height: inherit;
  color: $color-gray;
}

.gallery__list {
  margin: 0;
  padding: 0;

  list-style: none;
  color: $color-black;

  background-color: $color-white;

  @media (min-width: $tablet-width) {
    display: grid;

    gap: 0;
    grid-template-columns: 324px 324px;
  }

  @media (min-width: $desktop-width) {
    display: grid;

    gap: 0;
    grid-template-columns: 400px 400px 400px;
  }
}

.gallery__likes--text {
  font-weight: 700;
  font-size: inherit;
  line-height: inherit;
  color: $color-black;
}
