.gallery {
  width: 100%;
}

.gallery__header {
  margin: 0;

  @media (min-width: $tablet-width) {
    padding: 67px 100px 80px 100px;
  }

  @media (min-width: $desktop-width) {
    padding: 97px 382px 90px 380px;
  }
}

.heading__title-gallery {
  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}

.heading__description-gallery {
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-right: 71px;
    margin-left: 71px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.gallery__main-img {
  margin: 0;
}

.gallery__content {
  position: relative;

  margin: 0;
  padding: 25px 0 27px 0;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -20px;

    width: calc(100% + 36px);
    height: 1px;

    background-color: $color-dark-whisper;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    position: relative;

    display: flex;
    height: 100%;
    padding-top: 187px;

    &--main {
      padding-top: 320px;
    }
  }
}

.gallery__image-main {
  display: block;
  width: 100%;
  max-height: 400px;
  margin: 0;

  object-fit: cover;

  @media (min-width: $tablet-width) {
    margin: 0 0 15px 0;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    left: 0;

    min-width: 100%;
    min-height: 100%;

    object-fit: cover;
  }
}

.gallery__content-description {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding: 22px 20px 15px 20px;

    background-color: $color-white-smoke;

    gap: 40px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    z-index: 1;

    flex-grow: 1;
    align-items: start;

    color: $color-white;

    background-color: rgba(0, 0, 0, 0.3);
  }
}

.gallery__wrapper {
  margin: 0;
  padding: 0 20px 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 60px 0 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.gallery__heading {
  margin: 0 0 2px 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.gallery__author {
  margin: 0 0 11px 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: none;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.gallery__content-likes {
  display: flex;
  align-self: center;
  margin-top: 2px;
}

.gallery__likes--icon {
  margin: auto 14px auto 0;
  padding: 0;

  color: $color-black;

  background-color: transparent;
  border: none;

  @media (min-width: $tablet-width) {
    margin-right: 9px;
  }

  @media (min-width: $desktop-width) {
    color: $color-white;
  }
}

.gallery__likes-icon {
  display: block;

  opacity: 0.3;

  fill: $color-black;

  @media (min-width: $desktop-width) {
    opacity: 1;

    fill: $color-white;
  }
}

.gallery__likes-text {
  font-size: 14px;
}

.gallery__image {
  display: block;
  width: 100%;
  max-height: 400px;
  margin: 0 0 15px 0;

  background-color: $color-grey;

  object-fit: cover;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    left: 0;

    min-width: 100%;
    min-height: 100%;

    object-fit: cover;
  }
}

.gallery__list {
  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;

    gap: 0;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.gallery__item {
  display: flex;
  flex-direction: column;
  height: 100%;
}
