.heading {
  margin: 0;
  padding: 26px 18px;

  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 47px 124px 55px 124px;
  }

  @media (min-width: $desktop-width) {
    padding: 59px 350px 44px 350px;
  }
}

.heading__title {
  margin: 0 0 35px 0;
  padding: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $color-black;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin: 0 0 30px 0;

    font-size: 21px;
  }
}

.heading__description {
  margin: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $color-grey;
  text-transform: uppercase;

  mix-blend-mode: normal;
}

.heading__title--contacts {
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 32px;
  }
}

.heading__title--gallery {
  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}

.heading__description--gallery {
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-right: 71px;
    margin-left: 71px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.heading__title--presentation {
  margin: 0 0 20px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 28px 0;

    font-size: 30px;
  }
}
