.heading {
  margin: 0;
  padding: 26px 18px;


  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 47px 100px 55px 100px;
  }

  @media (min-width: $desktop-width) {
    padding: 59px 300px 44px 300px;
  }
}

.heading__title {
  margin: 0 0 35px 0;
  padding: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $color-black;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin: 0 0 30px 0;

    font-size: 21px;
  }
}

.heading__description {
  margin: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $color-grey;
  text-transform: uppercase;

  mix-blend-mode: normal;
}
