.main-footer {
  align-items: center;
  padding: 28px 82px 23px 82px;

  text-align: center;
  color: $color-black;

  background-color: $color-white;

  @media (min-width: $tablet-width) {
    padding: 36px 76px 36px 45px;
  }

  @media (min-width: $desktop-width) {
    padding: 36px 136px 36px 104px;
  }
}

.main-footer__wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
    align-items: center;

    gap: 100px;
    grid-template-columns: 166px 156px 128px;
  }

  @media (min-width: $desktop-width) {
    gap: 254px;
  }
}

.main-footer__slogan {
  margin: 0 0 33px 0;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}
