.main-footer {
  padding: 28px 82px 23px 82px;

  text-align: center;
  color: $color-black;
  text-transform: uppercase;
  margin: 0 auto;

  background-color: $color-white;

  @media (min-width: $tablet-width) {
    padding: 36px 76px 36px 45px;
  }

  @media (min-width: $desktop-width) {
    padding: 36px 136px 36px 104px;
  }
}

.main-footer__wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
    align-items: center;

    gap: 100px;
    grid-template-columns: 166px 156px 128px;
  }

  @media (min-width: $desktop-width) {
    gap: 254px;
  }
}

.main-footer__slogan {
  margin: 0 0 33px 0;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.copyright-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-black;
  text-decoration: none;
  fill: $color-black;

  &:hover {
    color: $color-seagull;

    fill: $color-seagull;
  }

  &:active {
    color: $color-pink-swan;

    fill: $color-pink-swan;
  }
}

.copyright__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}
