.main-nav {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
}

.man-nav__toggle {
  display: block;
}

.main-nav__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-nav__link {
  display: block;

  color: $color-black;
}

@media (min-width: $tablet-width) {
  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    width: 690px;
    margin: 0;
  }

  .man-nav__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__wrapper {
    width: 1040px;
  }
}
