.page {
  height: 100%;

  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
}

.page__body {
  min-height: 100%;
  margin: 0;

  color: $color-black;

  background-color: $color-gray95;
}

.page__container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  background-color: $color-white;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}
