.presentation {
  margin-bottom: 0;
  padding: 17px 20px 0 20px;
  width: 100%;
  text-align: center;
}

.presentation__title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  margin-bottom: 11px;
}

.presentation__description {
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 38px;
}
