@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsans.woff") format("woff");
  src: url("../fonts/ptsans.woff2") format("woff2");
}
@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsansbold.woff") format("woff");
  src: url("../fonts/ptsansbold.woff2") format("woff2");
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  height: 100%;
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
}

.page__body {
  min-height: 100%;
  margin: 0;
  color: #000000;
  background-color: #ffffff;
}

.advantages {
  width: 100%;
  margin: 0;
  text-align: center;
}

.advantages__header {
  background-color: #ffffff;
  color: #000000;
}

.advantages__name {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}

.advantages__intro {
  font-size: 14px;
  line-height: 21px;
}

.advantages__card {
  width: 100%;
}

.advantages__card-content {
  background-color: #81b3d2;
  color: #ffffff;
}
@media (min-width: 767px) {
  .advantages__card-content {
    background-color: #ffffff;
    margin: 0;
  }
}

.advantages__card-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 11px;
}

.advantages__number {
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 17px;
}

.advantages__description {
  font-size: 14px;
  line-height: 21px;
}

.advantages__details-list {
  margin: 0;
  list-style: none;
  color: #000000;
  background-color: #ffffff;
  text-align: left;
}

.advantages__details-item {
  margin-bottom: 33px;
}

.advantages__details-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 16px;
}

.advantages__details-description {
  font-size: 14px;
  line-height: 21px;
}

.advantages__list {
  margin: 0;
  list-style: none;
  color: #000000;
  background-color: #eeeeee;
}

.advantages__item {
  padding: 24px;
}

.advantages__heading {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 11px;
}

.booking {
  padding: 38px 18px 0 18px;
  background-color: #ffffff;
  color: #000000;
  margin-bottom: 10px;
}

.booking__heading {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  margin-bottom: 11px;
  text-align: center;
}

.booking__description {
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  margin-bottom: 32px;
}

.booking__button {
  display: block;
  padding: 16px 49px;
  background-color: #81b3d2;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  margin-bottom: 49px;
}

.booking__map {
  display: block;
  width: 100%;
}

.copyright__link {
  display: block;
}

.copyright__text {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #000000;
}

.gallery {
  width: 100%;
}

.gallery__header {
  padding: 37px 20px 25px 20px;
}

.gallery__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}

.gallery__description {
  font-size: 12px;
  line-height: 21px;
  text-align: center;
}

.gallery__content {
  padding: 24px 20px 25px 20px;
  margin: 0;
}

.gallery__image {
  width: 280px;
  margin-bottom: 15px;
}

.gallery__heading {
  color: #000000;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 5px;
}

.gallery__author {
  color: #333333;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  margin-bottom: 11px;
}

.gallery__list {
  padding: 0;
  background-color: #ffffff;
  color: #000000;
  margin: 0;
}

.gallery__item {
  list-style: none;
}

.gallery__likes--text {
  color: #000000;
  font-weight: bold;
  font-size: inherit;
  line-height: inherit;
}

.main-container {
  width: 100%;
}
@media (min-width: 767px) {
  .main-container {
    background-color: #ffffff;
    margin: 0;
  }
}

.main-footer {
  padding: 29px 82px 23px 82px;
  background-color: #ffffff;
  color: #000000;
  width: 100%;
}

.main-footer__slogan {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 11px;
}

.main-header {
  background-color: #ffffff;
  color: #000000;
  margin: 0 auto;
  width: 100%;
}

.main-header__logo {
  display: block;
  width: 185px;
  margin: 0 auto;
  height: 96px;
}

.main-nav {
  display: block;
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
}

.main-nav__toggle {
  display: block;
}

.main-nav__list {
  list-style: none;
  margin: 0;
}

.main-nav__link {
  display: block;
  color: #000000;
  text-decoration: none;
}

.presentation {
  margin-bottom: 0;
  padding: 17px 20px 0 20px;
  width: 100%;
  text-align: center;
}

.presentation__title {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  margin-bottom: 11px;
}

.presentation__description {
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 38px;
}

.social__list {
  margin-bottom: 40px;
  padding: 0;
  list-style: none;
  color: #000000;
  background-color: #ffffff;
}

.social__link {
  display: block;
}

.contacts__header {
  margin-bottom: 28px;
  text-align: center;
}

.contacts__heading {
  margin-bottom: 24px;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}

.contacts__description {
  font-size: 14px;
  line-height: 21px;
}

.contacts__form {
  margin: 0;
  padding: 20px 24px;
}

.contacts__title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}

.contacts__label {
  font-size: 14px;
  line-height: 21px;
  margin: 0;
}

.contacts__impressions-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.contacts__impressions-item {
  margin-bottom: 16px;
  text-transform: lowercase;
}

.contacts__sights-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.contacts__sights-item {
  margin-bottom: 16px;
  text-transform: lowercase;
}

.contacts__emotions-button {
  display: block;
  background-color: #81b3d2;
  color: #ffffff;
  padding: 16px 49px;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  border: none;
  margin: 0;
}

.contacts__emotions-legend {
  color: #333333;
  font-weight: 400;
  font-size: inherit;
  line-height: inherit;
  margin-bottom: 24px;
}
/*# sourceMappingURL=style.css.map */