$color-black: #000000;
$color-white: #ffffff;
$color-seagull: #81b3d2;
$color-whisper: #eeeeee;
$color-light-whisper: #e6e6e6;
$color-dark-whisper: #e5e5e5;
$color-grey: #333333;
$color-light-grey: #d6d6d6;
$color-dark-grey: #d5d5d5;
$color-white-smoke: #f2f2f2;
$color-shakespeare: #669ec0;
$color-shakespeare-dark: #5496bd;
$color-pink-swan: #b3b3b3;
$color-roman-coffee: #766357;
$color-gainsboro: #dbdbdb;
$tablet-width: 768px;
$desktop-width: 1200px;

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "PT Sans";

  font-display: swap;
  src: url("../fonts/ptsans.woff") format("woff");
  src: url("../fonts/ptsans.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "PT Sans";

  font-display: swap;
  src: url("../fonts/ptsansbold.woff") format("woff");
  src: url("../fonts/ptsansbold.woff2") format("woff2");
}
