$color-black: #000000;
$color-white: #ffffff;
$color-seagull: #81b3d2;
$color-whisper: #eeeeee;
$color-gray: #333333;
$color-gray95: #f2f2f2;
$color-lightgray: #e6e6e6;
$tablet-width: 768px;
$desktop-width: 1200px;

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "PT Sans";

  font-display: swap;
  src: url("../fonts/ptsans.woff") format("woff");
  src: url("../fonts/ptsans.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "PT Sans";

  font-display: swap;
  src: url("../fonts/ptsansbold.woff") format("woff");
  src: url("../fonts/ptsansbold.woff2") format("woff2");
}
